
@{
    Layout = null;
}

<!DOCTYPE html>

<h3>MVC KAMP TABLO - Kategori</h3>
<br/>
<table>
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açıklama Yaptık.</td>
        <td>True</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Açıklama Yaptık.</td>
        <td>True</td>
    </tr>
</table>