
@{
    ViewBag.Title = "Test3";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yapılacaklar</h2>

<br/>
<p>Başlıklarda Arama Kutucuğu</p>
<p>Yazar Görselleri Güncellenecek</p>
<p>Grafikler</p>
<p>Vitrin Şeması</p>
<p>Gelen Kutusunda Arama</p>
<p>Yetkilendirmeler</p>
