
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Deneme</title>
</head>
<body>
    <div>
        burası layout
    </div>
    <div> 
        @RenderBody()
    </div>
</body>
</html>
